/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-color: #315163;
    color: white;
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3{
    font-family: "Staatliches", sans-serif;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
    margin: 0.5rem;
}

h3{
    font-size: 1.5rem;
    color: #9dc4df;
    margin: 0.5rem;
}

h4{
    font-size: 1rem;
    margin: 0.5rem;
}

p{
    margin: 0.5rem;
}

.dark-section{
    background-color: #21343c;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
}
